<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/Binod.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Binod Mahto</h3>
        </div>
  
        <div class="text-center">binodk.mahto@gmail.com</div>
        <div class="text-center">
          <a href="https://binodmahto.blogspot.com">BlogSpot: Personal Blog</a>
        </div>
        <div class="text-center">
            <a href="https://binodmahto.medium.com/">Medium: Personal Blog</a>
          </div>
          <div class="text-center">
            <a href="https://github.com/binodmahto">GitHUb: Personal github</a>
          </div>
      </div>
    </div>
  </div>
  